<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="./book" method="POST" enctype="multipart/form-data">
        <select name="selectcate">

            <%cates.forEach(function(cate){%>
            <option value="<%-cate._id%>">
                <%-cate.name%>
            </option>
            <%});%>



        </select>
        <input type="text" name="txtname" placeholder="Name" />
        <input type="file" name="bookimage" />
        <input type="text" name="txtfile" placeholder="file" />

        <input type="submit" value="add" />


    </form>
</body>

</html>